.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  gap: 10px;
  text-align: center;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: scale-down;
}

.price {
  margin-top: auto;
}

.button {
  padding: 4px 8px;
}
